@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    font-family:'Poppins', sans-serif;
    list-style: none;
}

:root {
    --main-color: #d30d0d;
    --text-color: #141622;
    --white-color: #ffff;
    --grey-color: #f7f2f2;
    --para-color: #646161;
}

html {
    font-size: 65.5%;
    scroll-behavior: smooth;
}

/*=== UTILITIES === */

.flex {
    display: flex;
    align-items: center;
}

/* img {
    width: 100%;
} */

.container {
    padding: 0.5rem 9.5%;
}

/* section {
    padding-top: 5rem;
} */

.grid {
    display: grid;
}

span {
    color: var(--main-color);
}

.btn {
    padding: 1.5rem 3.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 8px;
    transition: .4s;
    scale: 1;
}

.hamburger {
    cursor: pointer;
    transition: all 0.25s;
    display: none;
    position: relative;
    margin-right: 10px;
  }
  .hamburger-top,
  .hamburger-middle,
  .hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 2px;
    background-color: black;
    transform: rotate(0);
    transition: all 0.5s;
  }
  .hamburger-middle {
    transform: translateY(7px);
  }
  .hamburger-bottom {
    transform: translateY(14px);
  }
  .open {
    transform: rotate(90deg);
    transform: translateY(0px);
  }
  .open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translate(6px);
  }
  .open .hamburger-middle {
    display: none;
  }
  .open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translate(-6px);
  }

  .nav_menu.show {
    top: 50px;
  }
/*=== TOP HEAEDER === */

.top_header .out_box {
    width: 100%;
    background-color: var(--main-color);
}

.top_header .out_box .inner_box {
    background-color: var(--text-color);
    justify-content: space-between;
    padding: 1rem 0;
    clip-path: polygon(8% 0%, 92% 0%, 96% 100%, 5% 100%);
}

.top_header .out_box .inner_box .col-1 {
    justify-content: space-between;
    color: var(--white-color);
    gap: 1rem;
    margin-left: 13rem;
    font-size: 1.5rem;
}

.top_header .out_box .inner_box .col-1 i,
.top_header .out_box .inner_box .col-2 i {
    color: var(--main-color);
    font-size: 2rem;
    margin-right: 5px;
}

.top_header .out_box .inner_box .col-2 i {
    color: var(--white-color);
}

.top_header .out_box .inner_box .col-2 {
    justify-content: space-between;
    gap: 1rem;
    color: var(--white-color);
    margin-right: 13rem;
    font-size: 1.5rem;
}

.top_header .out_box .inner_box .col-2 .social {
    display: flex;
    gap: 0.9rem;
}

.top_header .out_box .inner_box .col-2 a,
.top_header .out_box .inner_box .col-2 span {
    color: var(--white-color);
}

/*=== MEDIA QUERY === */

@media (max-width: 1150px) {
    .out_box .inner_box .col-1 {
        margin-left: 8rem;
    }

    .out_box .inner_box .col-2 {
        margin-right: 8rem;
    }
}

@media (max-width: 991px) {
    .top_header {
        display: none;
    }
}

/*=== HEADER  === */

.header{
    width: 100%;
    position: sticky;
    left: 0;
    top: 0;
    justify-content: space-between;
    background-color: var(--white-color);
    box-shadow: 0 0 5px rgba(190, 190, 190, 0.5), 0 0 10px rgba(190, 190, 190, 0.5);
    z-index: 111;
    transition: 0.4s ease;
    padding: 0.5rem 9.5%;
}

.logo img{
    width: 200px;
}

.other {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.other i {
    color: var(--text-color);
    font-size: 2.5rem;
    font-weight: bold;
    cursor: pointer;
}

.cart {
    position: relative;
}

.cart .count {
    height: 10px;
    width: 10px;
    background-color: var(--main-color);
    border-radius: 50%;
    padding: 10px;
    color: var(--white-color);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -12px;
    left: 10px;
}

.nav_items {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 1.5rem;
}

.nav_link {
    font-size: 1.7rem;
    font-weight: 600;
    color: var(--text-color);
}

.active {
    color: var(--main-color);
}

.nav_link:hover {
    color: var(--main-color);
}

/*=== MEDIA QUERY === */

@media (max-width: 1370px) {
    .nav_items {
        padding: 2.5rem 0;
        font-size: 1.8rem;
    }
}

@media (max-width: 991px) {

    .header {
        padding-top: 1.2rem;
    }

    .nav_menu {
        position: fixed;
        background-color: var(--white-color);
        box-shadow: 0 0 5px rgba(190, 190, 190, 0.5), 0 0 10px rgba(190, 190, 190, 0.5);
        top: -100%;
        left: 0;
        width: 100%;
        padding: 5.5rem 0 3rem;
        transition: .4s;
    }

    .nav_items {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 2rem;
    }

    .nav_link {
        font-size: 2.8rem;
    }

    .hamburger {
        display: block;
    }
}

/*=== HOME SECTION === */
.home {
    background: linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,0,0,0.8), rgba(255, 0, 0)), url('../img/bg-hero-1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vh;
}

.home_grid {
    padding-top: 20rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 10rem;
    position: relative;
}


.home_grid img{
    width: 700px;
}

.home_grid h4 {
    color: var(--main-color);
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

.home_grid h1 {
    font-size: 5.2rem;
    text-transform: capitalize;
    letter-spacing: 3px;
    color: var(--white-color);
    margin-bottom: 1.5rem;
}

.home_grid p {
    color: var(--white-color);
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 3rem;
}

.button {
    gap: 2rem;
    
}



.button .btn_primary {
    background-color: var(--main-color);
    color: var(--white-color);
}

.button .btn_primary:hover {
    background-color: var(--text-color);
    color: var(--white-color);
}

.button .btn_secondary {
    background-color: var(--white-color);
    color: var(--main-color);
}

.button .btn_secondary:hover {
    background-color: var(--text-color);
    color: var(--white-color);
}

/*=== MEDIA QUERY === */

@media (max-width:1370px) {
    .home_grid img{
        width: 600px;
        
    }

    .home_grid h1 {
        font-size: 5rem;
    }
}

@media (max-width:1150px) {
    .home {
        height: 50vh;
    }
    .home_grid img{
        width: 500px;
       
    }

    .home_grid h4 {
        font-size: 3rem;
    }

    .home_grid h1 {
        font-size: 1.8rem;
    }

    .home_grid p {
        font-size: 12px;
    }

    .button .btn {
        font-size: 0.8rem;
    }
}

@media (max-width: 991px) {

    .home {
        height: 120vh;
    }

    .home_grid img{
        width: 500px;
       
    }

    .home_grid {
        grid-template-columns: 1fr;
        gap: 10rem;
        padding-top: 10rem;
    }

    .inner_text {
        text-align: center;
    }

    .home_grid img{
        width: 100%;
    }

    .button {
        justify-content: center;
    }

    .button .btn {
        font-size: 0.8rem;
    }
}

@media (max-width:680px) {

    .home_slide {
        height: 120vh;
    }

    .home_grid h4 {
        font-size: 2.5rem;
    }

    .home_grid h1 {
        font-size: 3.5rem;
    }

    .home_grid p {
        font-size: 18px;
    }

    .home_grid {
        grid-template-columns: 1fr;
        gap: 10rem;
        padding-top: 5rem;
    }
}

@media (max-width:430px) {
    .home_grid h1 {
        font-size: 2.5rem;
    }
}

@media (max-width:380px) {
    .home {
        height: 90vh;
    }
    .logo img {
        width: 150px;
    }
    .home_grid h1 {
        font-size: 2.5rem;
    }

    .home_grid h4 {
        font-size: 1.8rem;
    }

    .home_slide {
        height: 100vh;
    }

    .nav_link {
        font-size: 1.5rem;
    }
}

/*=== ABOUT SECTION === */

.about {
    background-color: var(--white-color);
    padding-top: 10rem;
}

.about_grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}

.about_grid img {
    width: 700px;
}

.about_text {
    margin-top: 5rem;
}

.about_text h4 {
    color: var(--main-color);
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 3px ;
    font-weight: bold;
    margin-bottom: 1.3rem;
}

.about_text h1 {
    font-size: 5.3rem;
    text-transform: capitalize;
    margin-bottom: 1.2rem;
}

.about_text p {
    color: var(--text-color);
    font-size: 1.5rem;
    letter-spacing: 1px;
    line-height: 1.5;
    text-transform: capitalize;
    margin-bottom: 3rem;
}

.btn_about {
    background-color: var(--main-color);
    margin-top: 1.3rem;
    color: var(--white-color);
    position: relative;
}

.btn_about:hover {
    background-color: var(--text-color);
}

.btn_about i {
    position: absolute;
    top: 18px;
    /* right: 0; */
    font-size: 2rem;
}

/*=== MEDIA QUERY === */

@media (max-width:1150px) {
    .about_grid img {
        width: 500px;
    }

    .about_text h1 {
        font-size: 3rem;
    }
}

@media (max-width: 991px) {
    
    .about_grid {
        grid-template-columns: 1fr;
        align-items: center;
        gap: 2rem;
    }

    .about_grid img {
        width: 100%;
    }

    .about_text {
        margin-top: 2rem;
        text-align: center;
    }

}

@media (max-width:690px) {
    .about_grid img {
        width: 100%;
    }
}

@media (max-width:498px) {
    .about_grid img {
        width: 100%;
    }
}

@media (max-width:380px) {
    .about_grid img {
        width: 100%;
    } 
}

/*=== CATEGORIES SECTION === */

.categories {
    padding: 10rem 0;
    text-align: center;
}

.categories h4 {
    color: var(--main-color);
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 3px ;
    font-weight: bolder;
    margin-bottom: 1.3rem;
}

.categories h1 {
    font-size: 5.3rem;
    text-transform: capitalize;
    margin-bottom: 1.2rem;
}

.cat_grid {
    grid-template-columns: repeat(6, 1fr);
    margin-top: 3rem;
    gap: 4rem;
}

.cat_inner {
    width: 100%;
    padding: 2rem;
    background-color: var(--grey-color);
    cursor: pointer;
    border-radius: 10px;
    transition: 0.4s ease;
}

.cat_inner:hover {
    transform: translateY(-10px);
}

.cat_inner img {
    width: 100%;
}

.cat_inner h5 {
    font-size: 1.5rem;
    color: var(--para-color);
}

.cat_inner h5:hover {
    color: var(--main-color);
}

/*=== MEDIA QUERY === */

@media (max-width: 991px) {
    
    .cat_grid {
        grid-template-columns: repeat(3, 1fr);
        margin-top: 3rem;
        gap: 4rem;
    }
}

@media (max-width:624px) {
    .categories h1 {
        font-size: 5rem;
    }
}

@media (max-width:571px) {
    .categories h1 {
        font-size: 4.5rem;
    }
}

@media (max-width:523px) {
    .categories h1 {
        font-size: 4rem;
    }
}

@media (max-width:463px) {
    .categories h1 {
        font-size: 3.5rem;
    }
}

@media (max-width:417px) {
    .cat_grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:380px) {
    .categories h1 {
        font-size: 3rem;
    }
}

/*=== PRODUCT SECTION === */

.product {
    padding: 10rem 0;
    text-align: center;
    cursor: pointer;
}

.product h4 {
    color: var(--main-color);
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 3px ;
    font-weight: bold;
    margin-bottom: 1.3rem;
}

.product h1 {
    font-size: 5rem;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-bottom: 2rem;
}

.product_grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.product_grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease;
    border-radius: 10px;
}

.product_grid img:hover {
    transform: scale(1.1);
}

.row_col {
    background-color: var(--white-color);
    box-shadow: 0 0 5px #646161;
    border-radius: 10px;
    text-align: justify;
    padding: 1rem;
}

.prod_inner {
    margin-top: 1.5rem;
}

.prod_inner h5 {
    font-size: 1.8rem;
    padding: 1rem 0;
    text-transform: capitalize;
    color: var(--text-color);
}

.rating {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-bottom: 0.8rem;
}

.rating i {
    font-size: 1.8rem;
    color: #FFC107;
}

.rating span {
    color: var(--para-color);
    font-size: 1.3rem;
    font-weight: bold;
}

.features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    padding-bottom: 0.8rem;
}

.features span {
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--para-color);
}

.features span i {
    color: var(--main-color);
    font-size: 1.8rem;
    padding-right: 0.3rem;
}

.price {
    justify-content: space-between;
    border-top: 1px solid var(--para-color);
    padding: 0.5rem 0;
}

.price span {
    font-size: 1.8rem;
    font-weight: bold;
}

.price button {
    background-color: var(--main-color);
    padding: 0.8rem 2.8rem;
    border-radius: 0.5rem;
    color: var(--white-color);
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.3s ease;
}

.price button:hover {
    background-color: var(--text-color);
}

/*=== MEDIA QUERY === */

@media (max-width: 991px) {
    .product_grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;

    }
}

@media (max-width:714px) {
    .product_grid {
        grid-template-columns: 1fr;
        gap: 2rem;

    }
}

@media (max-width:380px) {
    .product h1 {
        font-size: 3rem;
        
    }
}

/*=== BRANDS SECTION === */

.brand {
    text-align: center;
    padding: 10rem 0rem;
}

.brand h4 {
    color: var(--main-color);
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 3px ;
    font-weight: bolder;
    margin-bottom: 1.3rem;
}

.brand h1 {
    font-size: 5.3rem;
    text-transform: capitalize;
    margin-bottom: 1.2rem;
}

.brand_grid {
    grid-template-columns: repeat(6, 1fr);
    margin-top: 3rem;
    gap: 4rem;
}

.brand_col img {
    width: 100%;
}

.brand_col {
    width: 100%;
    padding: 2rem;
    background-color: var(--grey-color);
    cursor: pointer;
    border-radius: 10px;
    transition: 0.4s ease;
}

.brand_col:hover {
    transform: translateY(-10px);
}

.brand_col h5 {
    font-size: 1.5rem;
    color: var(--para-color);
}

.brand_col h5:hover {
    color: var(--main-color);
}

/*=== MEDIA QUERY === */

@media (max-width: 991px) {
    
    .brand_grid {
        grid-template-columns: repeat(3, 1fr);
        margin-top: 3rem;
        gap: 4rem;
    }
}

@media (max-width:624px) {
    .brand h1 {
        font-size: 5rem;
    }
}

@media (max-width:571px) {
    .brand h1 {
        font-size: 4.5rem;
    }
}

@media (max-width:463px) {
    .brand h1 {
        font-size: 3.5rem;
    }
}

@media (max-width:417px) {
    .brand_grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:380px) {
    .brand h1 {
        font-size: 3rem;
    }
}

/*=== FOOTER SECTION === */

.footer {
    padding: 10rem 0;
    background-color: var(--text-color);
}

.footer_grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
}

.foot_col {
    flex-direction: column;
    align-items: initial;
    gap: 2rem;
}

.foot_col img {
    width: 200px;
}

.foot_col p {
    color: var(--white-color);
    font-size: 1.5rem;
    line-height: 1.5;
}

.foot_col span {
    font-size: 1.5rem;
    color: var(--white-color);
    padding: 0.8rem 0;
}

.foot_col span i {
    font-size: 2rem;
    margin-right: 1rem;
    background-color: var(--main-color);
    padding: 0.5rem;
    border-radius: 10px;
}

.foot_col h5 {
    color: var(--white-color);
    font-size: 2rem;
    margin-bottom: 1rem;
}

.quick_links {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.quick_links p a {
    color: var(--white-color);
    font-size: 1.8rem;
    padding: 10rem 0;
}

.quick_links p a i{
    color: var(--main-color);
    padding-right: 0.8rem;
}

.input_group {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.input_group input {
    width: 100%;
    padding: 2.5rem 1rem;
    border-radius: 15px;
}

.input_group input::placeholder {
    color: var(--para-color);
    font-size: 1.8rem;
}

.input_group button {
    padding: 2rem 0.5rem;
    background-color: var(--main-color);
    color: var(--white-color);
    font-size: 2rem;
    border-radius: 15px;
    cursor: pointer;
    transition: .4s ease;
}

.input_group button:hover {
    background-color: var(--text-color);
    border: 1px solid var(--main-color);
}

.input_group button i {
    font-size: 2rem;
}

/*=== MEDIAQUERY === */

@media (max-width: 680px) {
    .footer_grid {
        grid-template-columns: 1fr;
    }
}

/*=== CART SECTION === */

.cart_section {
    position: absolute;
    background-color: var(--white-color);
    height: 800px;
    width: 500px;
    top: 60px;
    right: 0;
    padding: 2rem;
    text-align: center;
    transition: .4s ease-in-out;
    display: none;
    font-size: 1.5rem;
}

.show {
    display: block;
}

.total_grid {
    justify-content: space-between;
    border-bottom: 1px solid var(--para-color);
    padding-bottom: 2rem;
}

.total_grid p {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}

.total_grid .total {
    color: var(--main-color);
}

.cart_inner {
    justify-content: space-between;
    justify-content: space-between;
    padding: 2rem 0;
}

.cart_inner img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 1.5rem;
    border: 1px solid var(--main-color);
}

.cart_inner p {
    font-size: 1.5rem;
    font-weight: bold;
}

.cart_inner h2 {
    color: var(--main-color);
}

.cart_inner i {
    font-size: 2.5rem;
    color: var(--main-color);
    cursor: poi;
}

.checkout {
    background-color: var(--main-color);
    color: var(--white-color);
    font-size: 2rem;
    padding: 0.8rem 2.8rem;
    margin-top: 2rem;
    border-radius: 10px;
    cursor: pointer;
}

.checkout:hover {
    background-color: var(--text-color);
}

.checkout.hide {
    display: none;
}

.cart_text {
    font-size: 2rem;
}
/*=== MEDIAQUERY === */

@media (max-width: 680px) {
    .cart_section {
        width: 100%;
        height: 100vh;
        z-index: 1000;
        top: 50px;
        padding: 1.5rem;
    }

    .total_grid p {
        font-size: 1.5rem;
    }

    .cart_inner {
        padding: 1rem 0;
    }

    .cart_inner img {
        width: 70px;
        height: 70px;
        padding: 0.5rem;
    }

    .cart_inner p {
        font-size: 1rem;
    }

    .cart_inner i {
        font-size: 2rem;
    }

    .cart_inner h2 {
        font-size: 1.5rem;
    }
}